@import "../../utils/variables";

.login {
  @extend .page;
  height: 100vh;
  .logo {
    margin-bottom: 5rem;
  }
  h2 {
    margin-bottom: 2rem;
  }
  .create-user-button {
    width: 25rem;
    text-align: center;
  }
  .signinText {
    font-size: 12px;
    a {
      color: black;
    }
  }
}
