@import "../../utils/variables";

.styling {
  @extend .page;
  margin-left: $progressBarWidth;
  height: 100vh;
  .radioContainer {
    display: flex;
  }
  .iconsWrapper {
    display: flex;
    .icon {
      cursor: pointer;
    }
  }
  h1 {
    margin-bottom: 2rem;
  }
  .stye-next-button {
    padding: 0.7rem 6rem;
    color: white;
    background: #00c67b;
    border-radius: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
}
