.radioButton {
  cursor: pointer;
  margin-bottom: 3rem;
  .outline {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    .content {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      visibility: visible;
    }
  }
}
