@import "../../utils/_variables.scss";

.progressBar {
  height: 100%;
  width: $progressBarWidth;
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: lightcoral;
  overflow-x: hidden;
  padding: 2rem 0 0 2rem;
  .step {
    display: flex;
    align-items: center;
    color: white;
    font-size: 15px;
    margin-bottom: 1rem;
    .iconContainer {
      margin: 0 1rem 1px 0;
      height: 1.8rem;
      width: 1.8rem;
    }

    .emptyCircle {
      height: inherit;
      width: inherit;
      background: aliceblue;
      border-radius: 50%;
    }
  }
}
