@import "../../utils/_variables.scss";

.progressBar {
  height: 100%;
  width: $progressBarWidth;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #6845fb;
  overflow-x: hidden;
  padding-top: 3rem;

  .line {
    width: 70%;
    height: 1px;
    background: lightgrey;
    margin: 3rem 0;
  }

  .step {
    display: flex;
    align-items: center;
    color: white;
    font-size: 15px;
    margin-bottom: 1rem;

    .iconContainer {
      margin: 0 1rem 1px 0;
      height: 1.8rem;
      width: 1.8rem;

      .emptyCircle {
        height: inherit;
        width: inherit;
        border: 1px solid aliceblue;
        border-radius: 50%;
      }
    }
  }
}
