@import "../../utils/variables";

.signupSuccess {
  margin-left: $progressBarWidth;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  h1, .text {
    margin-bottom: 2rem;
  }
}
